<section class="columns is-centered mt-6">
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-header">
        <h3 class="card-header-title"></h3>
      </div>
      <div class="card-content">
        <div class="content">
          <p><span class="has-text-weight-bold"> calories</span></p>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to "Back", entries_path, class: "card-footer-item" %>
        <%= link_to "Edit", edit_entry_path(@entry), class: "card-footer-item" %> |
        <%= button_to "Delete", @entry, method: :delete, class: "card-footer-item" %>
      </div>
    </div>
  </div>
</section>

<%= render @entry %>

<div>
  
</div>
